00 01 * * * root bash /wikitranslate/translate_recent.sh /root/wikidata >> /var/log/cron.log 2>&1
00 * * * * root git -C /root/wikidata push origin $GIT_BRANCH >> /var/log/cron.log 2>&1
# Don't remove the empty line at the end of this file. It is required to run the cron job

